{% extends 'nav/base.html'%}
{% load static %}
{% block content %}

<section id="about">

<div class="container" data-aos="fade-up">
        <h2 class="section-title">
            About Me
        </h2>

        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="card shadow border-0">

                    <div class="card-body p-4">

                        <p class="lead text-center">

                            I am a Python Django Backend Developer
                            passionate about building dynamic web
                            applications and solving real-world problems.

                            I enjoy working with Django, Bootstrap5,
                            HTML5, CSS3, PostgreSQL and Git.

                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
