{% extends 'nav/base.html'%}
{% load static %}
{% block content %}


<section id="projects">
<div class="row"
     data-aos="fade-up">

   <h2 class="section-title">
    Projects
</h2>
        {% for project in projects %}

        <div class="col-md-4 mb-4">

            <div class="card h-100 shadow">

                <img src="{{ project.image.url }}"
                     class="card-img-top"
                     alt="{{ project.title }}">

                <div class="card-body">

                   <h5>{{ project.title }}</h5>
                   <p>{{ project.short_description|truncatechars:100 }}</p>

                </div>

                <div class="card-footer">

                    <a href="{% url 'project_d' project.id %}"
                       class="btn btn-primary w-100">
                        View Project
                    </a>

                </div>

            </div>

        </div>

        {% empty %}

       <div class="text-center">
    <h4>Projects Coming Soon</h4>
    <p>New Django projects will be added soon.</p>
</div>

        {% endfor %}

    </div>

</div>

</section>



{% endblock %}
