{% extends 'nav/base.html'%}
{% load static %}
{% block content %}


<div class="container mt-5">

    <a href="/"
       class="btn btn-secondary mb-3">
       Back
    </a>

    <div class="text-center mb-4">

<img src="{{ project.image.url }}"
     class="img-fluid rounded shadow">

</div>

        <div class="card-body">

            <h1>
                {{ project.title }}
            </h1>

            <hr>

            <p>
                {{ project.full_description }}
            </p>

           <div class="mt-4">
            
            {% if project.github_link %}
            <a href="{{ project.github_link }}"
            class="btn btn-dark">
            GitHub
        </a>
        
        {% endif %}
        
        {% if project.live_link %}
        <a href="{{ project.live_link }}"
        class="btn btn-success">
        Live Demo
    </a>
    
    {% endif %}

</div>

        </div>

    </div>

</div>

{% endblock %}